.nodemenu-content {
    width: 120px;
    border-radius: 10px;
    border-radius: 10px;
}
.nodemenu-content.dark {
    background-color: #181818;
}

.nodemenu-content.light {
    background-color: #F8F8F8;
}

.nodemenu-content-item {
    display: flex;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    gap: 10px;
}

.nodemenu-content-item:hover {
    border-radius: 8px;
}
.nodemenu-content-item:hover.dark {
    background-color: #2D3748;
}

.nodemenu-content-item:hover.light {
    background-color: #d6dce7;
}

.nodemenu-content-item-text {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nodemenu-content-item-text.dark {
    color: #E2E8F0;
}

.nodemenu-content-item-text.light {
    color: #1E1E1E;
}

.nodemenu-content-item-icon {
    width: 18px;
    height: 18px;
}