.subbutton {
    height: 21px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1px 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subbutton.dark {
    background-color: #181818;
}

.subbutton.light {
    background-color: #f1f1f1;
}

.subbutton:hover.dark {
    background-color: #2D3748;
    border: 1px solid #3a4d6d;
}

.subbutton:hover.light {
    background-color: #eaeaea;
    border: 1px solid #c0c0c0;
}

.subbutton-img {
    width: 15px;
    height: 15px;
}

.subbutton-text {
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;

}
.subbutton-text.dark {
    color: #E2E8F0;
}
.subbutton-text.light {
    color: #161616;
}